**

!CMakeLists.txt
!README.md

!aeron/
!aeron/**

!cmake/
!cmake/**

!packaging/
!packaging/**

!resources/
!resources/**

!shaders/
!shaders/**

!src/
!src/**

!third_party/
!third_party/**

.git
**/.git
